#tab1 td, th {
    width: 20px;
    height: 20px;
    border: 2px solid
}
.table2{
    border: 1px solid rgb(17, 2, 223);
}
.table2 td{
    border: 2px solid rgb(17, 2, 223);
    text-align: center;
    padding: 10px;
}
.table3 {
    border: 2px solid rgb(114, 5, 5);
    border-collapse: collapse;
}
.table3 td{
    border: 2px solid rgb(114, 5, 5);
    font-family: cursive;
    padding: 0px 10px 5px 0px;
}
.table4 {
    border: 2px solid rgb(108, 236, 161);
    border-collapse: collapse;
}
.table4 td{
    border: 2px solid  rgb(108, 236, 161);
    font-family: cursive;
    padding: 0px 10px 5px 0px;
}
.table5{
    border: 2px solid rgb(126, 0, 0);
    border-collapse: collapse;
}
.table5 td{
    border: 2px solid  rgb(126, 0, 0);
    font-family: cursive;
    padding: 0px 10px 5px 0px;
}